@use "variables" as *;

.subscribe {
  background-color: $color-pink;
  background-image: url(../img/envelope.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 45px) 50%;
  flex: 1;
  padding: 35px $gap-xl;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 250px;
  }

  &__title {
    font-size: 18px;
    line-height: 21px;
  }

  &__description {
    font-size: 14px;
    line-height: 20px;
  }

  &__form {
    max-width: 225px;
  }

  &__input {
    padding: 0.25em 1em;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    height: 35px;
  }

  &::placeholder {
    color: #c4c4c4;
  }
}
