@use "variables" as *;

.submit {
  margin-bottom: 100px;
  color: $color-white;

  &__title {
    font-size: 18px;
    line-height: 21px;
  }

  &__content {
    display: flex;
    gap: $gap-lg;
  }
}
