$color-black: #000000;
$color-gray: #333333;
$color-light: #efefef;
$color-white: #ffffff;
$color-pink: #f13c6e;
$container-width: 1110px;

$font-family: "Roboto", sans-serif;

$font-size: 16px;
$gap: 20px;
$gap-sm: 10px;
$gap-xs: 15px;
$gap-lg: 30px;
$gap-xl: 40px;
