@use "../variables" as *;

.navbar-primary {
  background-color: $color-white;
  min-height: 80px;
  display: flex;
  align-items: center;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 $gap;
  }

  &__link {
    display: block;
    padding: 7px 10px;
    font-size: 1rem;
    color: $color-black;
  }
}
